<!DOCTYPE html>
<html ng-app="andale" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Amarante' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-controller="MainController">
    <div ng-show="newBrandForm || newProductForm || editBrandForm || editProductForm || showInfoBox">
			<div class="hazy-background"></div>
			<div class="form-box ng-cloak">

				<div class="info-box container" ng-show="showInfoBox">
					<span class="info-box-close glyphicon glyphicon-remove" ng-click="showInfoBox = false"></span>
					<div class="page-header">
						<h1>Andale</h1>
						<h5>by <strong>Christian Jensen</strong></h5>
					</div>
					<p>This app started as a resource to help my tech support team find pictures and information about products quickly and easily. I now use it to showcase my coding abilities. Please make sure to:
						<ul>
							<li>Resize the window to see the responsive design</li>
							<li>Scroll down the page and play with one of the products</li>
							<li>Search for, add and edit brands and products</li>
						</ul>
					</p>
					<hr>
					<h4>Made possible by...</h4><br />
					<div class="info-box-icons row text-center">
						<div class="col-sm-4">
							<a href="https://angularjs.org/">
								<img class="img-thumbnail" src="images/angular-icon.png"><br />
								Angular
							</a>
						</div>
						<div class="col-sm-4">
							<a href="http://getbootstrap.com/">
								<img class="img-thumbnail" src="images/bootstrap-icon.png"><br />
								Bootstrap
							</a>
						</div>
						<div class="col-sm-4">
							<a href="https://fortawesome.github.io/Font-Awesome/">
								<img class="img-thumbnail" src="images/font-awesome-icon.jpg"><br />
								Font Awesome
							</a>
						</div>
					</div>
					<hr>
					<div class="info-box-email row text-center">
						<a href="mailto:cbejensen@gmail.com?Subject=Andale%20Feedback" target="_blank">
						<div class="col-xs-12">
							<span class="glyphicon glyphicon-envelope"></span><br />
							cbejensen@gmail.com
						</div>
						</a>
					</div>
				</div>

				<!-- new -->
				<brand-form ng-show="newBrandForm" is-new="true"
										cancel="newBrandForm = false" submit="addBrand"></brand-form>
				<product-form ng-show="newProductForm" is-new="true"
											cancel="newProductForm = false" submit="addProduct"></product-form>

				<!-- edit -->
				<brand-form ng-show="editBrandForm" old-brand="oldItem"
										cancel="editBrandForm = false" submit="saveBrand" remove="removeBrand"></brand-form>
				<product-form ng-show="editProductForm" old-product="oldItem"
										cancel="editProductForm = false" submit="saveProduct" remove="removeProduct"></product-form>

			</div>
    </div>

    <div class="header-container container-fluid">

      <div class="title red-bg text-center"><strong>Andale</strong></div>

      <div class="info-icon-container text-center text-muted">
        <span ng-click="showInfoBox = true" class="glyphicon glyphicon-info-sign"></span>
      </div>
    
      <div class="command-bar red-bg row" set-class-when-at-top="sticky">
        <div class="command-tray" ng-show="commandTray">
          <button class="col-xs-3 col-xs-offset-2 btn btn-default" ng-click="newBrandForm = true">+ Brand</button>
          <button class="col-xs-3 col-xs-offset-2 btn btn-default" ng-click="newProductForm = true">+ Product</button>
        </div>
        <div class="command-tray-cover red-bg"></div>
        <a href="#">
          <div class="command-icon-container col-xs-1 text-center">
            <span class="command-icon arrow-hide glyphicon glyphicon-menu-up"></span>
          </div>
        </a>
        <div class="command-search-container col-xs-12 pull-right">
          <div class="input-group">
            <span class="search-master-icon glyphicon glyphicon-search"></span>
            <input class="form-control" ng-model="search" placeholder="Search brand or product"/>
            <span class="command-menu input-group-btn">
              <button class="btn btn-primary" ng-click="showCommandTray()">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
              </button>
            </span>
            <span class="command-buttons input-group-btn">
              <button class="btn btn-primary" ng-click="newBrandForm = true">Add Brand</button>
              <button class="btn btn-primary" ng-click="newProductForm = true">Add Product</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    
		<!-- DATA -->
    <div class="main-container container">
      <div ng-repeat="brand in brands | orderBy:'name' | filter:search"
      ng-init="editShow = false">
        <div ng-mouseover="brandMouseOver= true" ng-mouseleave="brandMouseOver = false"
          class="brand-header-container">
          <a href={{brand.url}} target='_blank'>
            <div class="brand-header">
              <img ng-src="{{brand.logo}}">
              <div ng-show="brand.showName">{{brand.name}}</div>
            </div>
          </a>
          <div>{{brand.phone}}</div>
          <div class="brand-edit">
            <span ng-show="brandMouseOver" class="glyphicon glyphicon-pencil"
              aria-label="EDIT" ng-click="editBrand(brand)"></span>
          </div>
        </div>
        <hr class="hr-brand">

        <div ng-mouseover="mouseOver = true" ng-mouseleave="mouseOver = false"
          ng-repeat="product in brand.products | filter:search"
          ng-init="editShow=false">
            <div class="product-header">
              <div class="product-title-container">
                <div class="product-title">
                  <a href={{product.url}} target='_blank'>{{product.name}}</a>
                </div>
                <div class="product-subtitle">
                  {{product.subtitle}}
                </div>
              </div>
              <div class="product-thumbnail-container">
                <div class="product-thumbnail-box" ng-repeat="img in product.images track by $index" ng-click="productImgSelect(product, $index)">
                  <img ng-src={{img}} render-thumbnail>
                </div>
              </div>
            </div>

            <div class="product-buttons">
              <button type="button" class="btn btn-default" ng-if="product.images"
                ng-click="product.showImg = !product.showImg; product.imgToShow = 0"
                title="Show Images" aria-label="Show Images">
                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
              </button>

							<button type="button" class="btn btn-default" ng-if="product.specs"
								 ng-click="product.showSpecs = !product.showSpecs" title="Show Specs"
								 aria-label="Show Specs">
								<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
							</button>

							<a class="product-manual" ng-if="product.manualUrl" href={{product.manualUrl}}
									 target='_blank'>
								<button type="button" class="btn btn-default" title="Open Manual"
											 aria-label="Open Manual">
									<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
								</button>
							</a>
            </div>
            
            <div ng-if="product.showImg">
              <div class="product-img-buttons-container">
                <i  class="fa fa-arrow-left" ng-click="productImgScroll(false, product, product.images.length)"></i>
             <i class="fa fa-arrow-right" ng-click="productImgScroll(true, product, product.images.length)"></i>
              </div>
              <div class="product-img-container">
                <img ng-src={{product.images[product.imgToShow]}}>
              </div>
            </div>
            
            <div class="product-specs-container" ng-if="product.showSpecs">
              <p>{{product.specs}}</p>
            </div>

            <div class="product-warranty-container">
              <h4><strong>Warranty</strong> - {{product.warranty}}</h4>
              <div ng-show="mouseOver" class="glyphicon glyphicon-pencil product-edit"
                aria-label="EDIT" ng-click="editProduct(product)"></div>
            </div>
            <hr class="hr-product">
            
          </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.js"></script>
    <script src="js/app.js"></script>
    <script src="js/MainController.js"></script>
    <script src="js/dataService.js"></script>
    <script src="js/directives.js"></script>
  </body>

</html>
