a {
  color: black;
}

.add-img-button,.add-bullets-button {
  padding: 1px 3px;
  font-size: .8em;
  float: right;
  border-radius: 0;
}

.add-img-input, .product-specs {
  margin-top: 2px;
}

.brand-edit {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.brand-header {
  display: inline-block;
}

.brand-header img {
  max-height: 150px;
}

.brand-header div {
  font-size: 30px;
}

.brand-header-container {
  position: relative;
  text-align: center;
  display: block;
}

.button-delete {
  margin: auto;
}

.command-bar {
  position: relative;
  height: 45px;
  margin: 0;
	z-index: 100;
}

.command-buttons {
  display: none;
}

.command-icon {
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 1.5em;
  visibility: hidden;
  opacity: 0;
}

.command-icon-container {
  position: absolute;
  height: 45px;
  padding: 0;
}

.command-menu button, .command-buttons button {
  border-radius: 0;
}

.command-search-container {
  top: 5px;
}

.command-search-container input {
  font-size: 1.5em;
  color: black;
  padding-left: 30px;
}

.command-tray {
  position: absolute;
  top: 45px;
  width: 100%;
  padding: 5px;
  transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background: rgba(61, 61, 61, 0.9);
}

.command-tray-cover {
  position: absolute;
  width: 100%;
  height: 45px;
}

.command-tray.ng-hide {
  top: 0;
}

.data-form {
  margin: 0 15px;
}

.data-form input:not([type=checkbox]), .data-form select {
  height: 30px;
  width: 100%;
  font-size: 1.2em;
  padding-left: 5px;
  color: black;
  border: 1px solid gray;
  border-radius: 0;
  background-color: white;
}

.data-form input[type=checkbox] {
  margin-left: 10px;
}

.data-form textarea {
  height: 100px;
  width: 100%;
  font-size: 1.2em;
  padding-left: 5px;
  color: black;
  border: 1px solid gray;
  border-radius: 0;
  background-color: white;
  resize: vertical;
}

.edit-product-name-box input {
  margin: 15px 0;
  width: 100%;
  font-size: 2em;
  padding: 5px;
}

.edit-product-name-box span {
  font-size: 1.2em;
  font-weight: bolder;
}

.edit-product-name-button-container {
  text-align: center;
  margin-bottom: 10px;
}

.edit-spec-row, .edit-img-row {
  width: 100%;
}

.extra-spec, .extra-img {
  margin-top: 3px;
  width: 100%;
}

.fa-arrow-left, .fa-arrow-right {
  width: 30px;
  height: 30px;
}

.fa-arrow-left:hover, .fa-arrow-right:hover {
  cursor: pointer;
}

form {
  max-width: 800px;
}

.form-box {
  opacity: 1;
  width: 80%;
  max-width: 1000px;
  max-height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  overflow: scroll;
	z-index: 300;
}

.form-buttons {
  text-align: center;
}

.form-row {
  margin-top: 5px;
  margin-bottom: 10px;
}

.form-row div {
  display: inline-block;
}

.form-product-brand, .edit-product-brand {
  width: 25%;
  margin-right: 5%;
  display: inline-block;
}

.form-product-name {
  width: 70%;
  display: inline-block;
}

.form-product-name input {
  font-weight: bold;
}

.form-product-specs-container div {
  float: right;
  font-size: 0.8em;
}

.form-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
}

h2 {
  font-size: 30px;
}

.hazy-background {
  background-color: #FBFBFB;
  opacity: .9;
  z-index: 200;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.header-container {
  padding: 0;
}

.hidden {
  visibility: hidden;
}

.hr-brand {
  border-top: 2px solid black;
}

.hr-search {
  margin: 0;
  border-color: black;
  background-color: black;
}

.info-box {
	position: relative;
	max-width: 500px;
}

.info-box-close {
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
}

.info-box-close:hover {
	color: red;
}

.info-box-email span {
	font-size: 1.5em;
}

.info-box-icons div {
	margin-bottom: 15px;
}

.info-box-icons img {
	max-height: 50px;
}

.info-box p {
	text-indent: 2em;
}

.info-icon-container {
	position: relative;
	height: 30px;
	background-color: rgb(66, 61, 61);
	font-size: 1.3em;
}

.info-icon-container span {
	line-height: 30px;
	top: 0;
}

.info-icon-container span:hover {
	color: #E7E009;
	transition: .5s;
	cursor: pointer;
}

.main-container {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
}

.product-buttons {
  clear: both;
  margin-bottom: 10px;
}

.product-edit {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.product-factory-reset-header {
  font-size: 1.1em;
  font-weight: bolder;
  margin-bottom: 5px;
}

.product-specs-container p{
  margin-left: 5px;
  white-space: pre-wrap;
}

.product-img-container img {
  max-width: 100%;
}

.product-specs-container, .product-factory-reset-container {
  margin-bottom: 10px;
}

.product-img {
  margin: 15px auto;
  vertical-align: middle;
}

.product-img-container {
  text-align: center;
}

.product-img-buttons-container {
  text-align: center;
  margin: 15px auto;
}

.product-manual:hover {
  text-decoration: none;
}

.product-title {
  font-size: 2em;
  margin-bottom: 0;
}

.product-subtitle {
  font-weight: bold;
  margin-top: -5px;
  margin-bottom: 10px;
}

.product-title-container {
  display: inline-block;
}

.product-thumbnail-box {
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border: solid gray 1px;
  margin: 0 2px;
}

.product-thumbnail-box:hover {
  border: solid black 1px;
}

.product-thumbnail-container {
  float: right;
}

.product-thumbnail-container img {
  cursor: pointer;
}

.product-thumbnail-vertical-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.product-warranty-container {
  position: relative;
}

.red-asterisk {
  color: red;
}

.red-bg {
  background-color: #9F111B;
}

.search-master-icon {
  position: absolute;
  left: 5px;
  top: 7px;
  z-index: 100;
  font-size: 20px
}

.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.sticky .command-icon-container {
  width: 8.33333%;
	left: 7.5px;
}

.sticky .command-icon-container span {
  visibility: visible;
  opacity: 1;
  transition: 1s;
}

.sticky .command-search-container {
  width: 91.66666667%;
  transition: width 0.4s;
}

.subtitle {
  position: absolute;
  width: 100%;
  top: 60px;
}

.test {
  height: 300px;
}

.title {
  font-size: 3em;
  line-height: 80%;
  font-family: 'Amarante', sans-serif;
  padding: 10px;
  width: 100%;
  color: white;
}

.title-container {
  text-align: center;
}

@media (min-width: 768px) {
  .command-menu {
    display: none;
  }
  
  .command-buttons {
    display: table-cell;
  }

  .command-tray {
    display: none;
  }

	.info-box-icons div {
		margin-bottom: 0;
	}
}
