<form name="productForm" class="data-form" ng-submit="productForm.$valid && submitProduct(product)">
  
  <div class="form-title" ng-show="isNew">Add Product</div>
  <div class="form-title" ng-hide="isNew">Edit <strong>{{::product.name}}</strong></div>
  
  <div class="form-buttons" ng-hide="isNew">
    <button type="button" class="button-delete btn btn-xs btn-danger"
      ng-click="removeProduct()">Delete</button>
  </div>
  
  <div class="form-product-brand" ng-show="isNew">
    Brand<span class="red-asterisk"> *</span><br />
		<select ng-options="brand.name as brand.name for brand in brands | orderBy:'name'" ng-model="product.brand" required></select>
  </div><!-- //not sure why, but 'required' does nothing on select tags when ng-model is present
--><div class="form-product-name add-product-input">
    Name<span class="red-asterisk"> *</span><br />
    <input ng-model="product.name" required><br />
  </div>

  <div class="form-product-subtitle-container form-row">
    Subtitle / Short Description<br/>
    <input type="text" ng-model="product.subtitle">
  </div>
  
  <div class="form-row row">
    <div class="add-product-url-field col-xs-6">
      Product URL<br/>
      <input placeholder="http://www.example.com" ng-model="product.url"><br />
    </div>
    <div class="add-product-url-field col-xs-6">
      Manual URL<br/>
      <input placeholder="http://www.example.com" ng-model="product.manualUrl"><br />
    </div>
  </div>
  
  <div class="form-row row">
    <div class="add-product-img-container col-xs-12">
      Images (URL)
      <button class="add-img-button btn btn-success" type="button"
        ng-click="addProductImg()">+ Add Image</button><br />
      <input type="text" class="add-img-input" ng-repeat="img in product.images track by $index"
        ng-model="product.images[$index]" placeholder="http://www.example.com">
    </div>
  </div>
    
  <div class="form-product-specs-container form-row">
    Specs
    <textarea type="text" class="product-specs" ng-model="product.specs"></textarea>
  </div>

  <div class="form-row">
    Warranty<span class="red-asterisk"> *</span><br/>
    <input ng-model="product.warranty" required><br />
  </div>
  
  <div class="form-buttons form-row">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" ng-click="cancelProduct()"
      class="btn btn-danger">Cancel</button>
  </div>

</form>
